.cart-items {
  margin: 100px 170px;
}

.cart-items hr {
  height: 2px;
  background: #e2e2e2;
  border: 0;
}

.cart-items-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;

  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cart-items-format-main p,
.cart-items-format p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items-format img,
.cart-items-format button {
  margin: 0 auto;
}

.cart-items-format {
  font-size: 17px;
  font-weight: 500px;
}

.cart-icon-product-icon {
  height: 62px;
  cursor: pointer;
}

.cart-items-remove-icon {
  width: 15px;
}

.cart-items-quantity {
  width: 64px;
  height: 60px;
  background: white;
  border: 1px solid #ebebeb;
  font-size: 17px;
}

.cart-items-down {
  display: flex;
  margin: 100px 0;
}

.cart-items-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cart-items-total-items {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.cart-items-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;

  background: #ff5a5a;
  color: white;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  margin: 20px 0;
}

.cart-items-promocode {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

.cart-items-promocode p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-items-promobox {
  width: 504px;
  padding-left: 15px;
  height: 58px;
  background: #eaeaea;
}

.cart-items-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;

  width: 330px;
  height: 58px;
}

.cart-items-promobox button {
  width: 174px;
  height: 58px;
  font-size: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .cart-items {
    margin: 60px;
  }

  .cart-items-total {
    margin-right: 60px;
  }

  .cart-items-promobox {
    width: 400px;
  }

  .cart-items-promobox input {
    width: 250px;
  }

  .cart-items-promobox button {
    width: 150px;
  }
}

@media (max-width: 800px) {
  .cart-items {
    margin: 30px;
  }

  .cart-items-format-main {
    font-size: 16px;
    gap: 20px;
  }

  .cart-items-format p {
    font-size: 14px;
  }

  .cart-items-quantity {
    font-size: 14px;
    width: 40px;
    height: 40px;
  }

  .cart-items-total {
    margin-right: 30px;
  }

  .cart-items-total {
    flex: 1;
    gap: 10px;
  }

  .cart-items-total h1 {
    font-size: 26px;
  }

  .cart-items-total button {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }

  .cart-items-promobox {
    display: flex;
    width: 200px;
  }

  .cart-items-promobox input {
    width: 140px;
  }

  .cart-items-promobox button {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .cart-items {
    margin: 10px;
  }

  .cart-items-format-main {
    font-size: 12px;
    gap: 10px;
  }

  .cart-items-format p {
    font-size: 10px;
  }

  .cart-items-quantity {
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  .cart-items-down {
    margin: 50px 0;
    flex-direction: column;
  }

  .cart-items-total-items {
    font-size: 12px;
    padding: 8px 0;
  }

  .cart-items-total {
    margin-right: 30px;
  }

  .cart-items-total {
    flex: 1;
    gap: 10px;
  }

  .cart-items-total h1 {
    font-size: 20px;
  }

  .cart-items-total button {
    width: 180px;
    height: 40px;
    font-size: 12px;
  }

  .cart-items-promobox {
    display: flex;
    width: 200px;
  }

  .cart-items-promobox input {
    width: 140px;
    font-size: 12px;
  }

  .cart-items-promobox button {
    padding: 10px 14px;
    font-size: 12px;
  }
}
