.addproduct {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px 30px;
  border-radius: 6px;
  background: white;
}

.addproduct-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

.addproduct-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-size: 'Poppins';
  font-size: 14px;
}

.addproduct-price {
  display: flex;
  gap: 40px;
}

.add-product-selector {
  padding: 6px 10px;
  width: 160px;
  font-size: 14px;
  color: #7b7b7b;

  border: 1px solid #c3c3c3;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.add-product-thumb {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px 0;
  cursor: pointer;
}

.addproduct-btn {
  width: 100px;
  height: 50px;
  border-radius: 6px;

  background: #6079ff;
  border: none;
  cursor: pointer;
  color: white;

  font-size: 16px;
  font-weight: 500;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 800px) {
  .addproduct {
    width: auto;
    padding: 20px 30px;
  }
}

@media (max-width: 500px) {
  .addproduct {
    width: auto;
    margin: 20px 10px;
    padding: 10px;
  }
}
