.loginsignup {
  width: 100%;
  background: #fce3fe;
  padding: 100px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.loginsignup-container {
  width: 580px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0;
}

.loginsignup-field {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.loginsignup-field input {
  height: 72px;
  padding-left: 20px;
  color: #5c5c5c;

  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 18px;
}

.loginsignup-container button {
  width: 100%;
  height: 72px;
  color: white;
  background: #ff4141;

  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;

  cursor: pointer;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 25px;

  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .loginsignup-container {
    width: 500px;
  }

  .loginsignup-agree {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .loginsignup {
    padding: 60px 0;
  }
  .loginsignup-container {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;
  }

  .loginsignup-container h1 {
    font-size: 26px;
  }

  .loginsignup-field input {
    height: 60px;
    font-size: 16px;
  }

  .loginsignup-agree {
    font-size: 16px;
    gap: 10px;
  }

  .loginsignup-login {
    font-size: 16px;
  }
}
