.shop-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-category-banner {
  display: block;
  width: 80%;
  margin: 30px auto;
}

.shop-category-indexSort {
  display: flex;
  margin: 0 170px;
  justify-content: center;
  align-items: center;
}

.shop-category-indexSort p span {
  font-weight: 600;
}

.shop-category-soft {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  margin-left: 20px;
  cursor: pointer;
}

.shop-category-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px auto;
  column-gap: 30px;
  row-gap: 70px;
}

.shop-category-loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;

  width: 200px;
  height: 70px;
  font-size: 20px;
  font-weight: 500;

  border-radius: 100px;
  cursor: pointer;

  background: #ededed;
  color: #787878;
}

@media (max-width: 1366px) {
  .shop-category-products {
    margin: 50px auto;
    column-gap: 20px;
    row-gap: 60px;
  }
}

@media (max-width: 1280px) {
  .shop-category-soft {
    padding: 8px 16px;
  }

  .shop-category-loadmore {
    width: 160px;
    height: 60px;
    font-size: 16px;
  }

  .shop-category-products {
    row-gap: 40px;
  }
}

@media (max-width: 800px) {
  .shop-category-products {
    margin: 50px auto;
    column-gap: 8px;
    row-gap: 20px;
  }

  .shop-category-indexSort {
    width: 80%;
    justify-content: space-between;
    font-size: 12px;
  }

  .shop-category-loadmore {
    width: 130px;
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .shop-category-banner {
    width: 95%;
  }
  .shop-category-products {
    grid-template-columns: 1fr 1fr;
  }

  .shop-category-indexSort {
    width: 90%;
  }

  .shop-category-indexSort p span {
    font-size: 12px;
  }
}
