.searchproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  padding: 10px 50px;
  margin: 60px 30px 30px 30px;
  border-radius: 6px;
}

.search-input {
  display: flex;
  margin-top: 20px;
  border-radius: 6px;
  font-family: 'Poppins';
}

.search-input input {
  width: 200px;
  font-size: 16px;
  padding: 10px 14px;
  outline: none;

  color: #a7b1ab;
  border: 1px solid #cccccc;
  font-family: 'Poppins';
}

.search-input button {
  font-size: 16px;
  border: 0;
  padding: 10px 20px;
  background: #3cb13c;
  color: #fff;
  cursor: pointer;
}

.listproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;

  width: 100%;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.listproduct-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;

  padding: 20px 0;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}

.listproduct-format-main > a {
  margin: auto;
}

.listproduct-allproduct {
  width: 100%;
}

.listproduct-allproduct hr {
  height: 2px;
  background: #e2e2e2;
  border: 0;
}

.listproduct-product-image {
  width: 60px;
  margin: auto;
}

.listproduct-format-main p,
.listproduct-allproduct p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listproduct-format {
  font-size: 16px;
  font-weight: 400;
}

.listproduct-remove-icon {
  margin: auto;
  cursor: pointer;
}

@media (max-width: 1366px) {
  .listproduct {
    padding: 10px 20px;
    margin: 30px 5px;
  }
  .listproduct-format-main,
  .listproduct-format {
    gap: 30px;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .searchproduct {
    margin: 40px 10px;
    padding: 0;
  }
  .listproduct {
    padding: 10px 10px;
    margin: 30px 10px;
    box-sizing: border-box;
    width: auto;
  }
  .listproduct-format-main,
  .listproduct-format {
    gap: 30px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .search-input input {
    font-size: 12px;
  }

  .listproduct h1 {
    font-size: 20px;
  }

  .listproduct-format-main {
    font-size: 12px;
    gap: 10px;
  }

  .listproduct-allproduct {
    height: 100%;
    overflow: auto;
  }
}
