.relatedproducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.relatedproducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.relatedproducts hr {
  width: 200px;
  height: 2px;
  border-radius: 10px;
  background: #252525;
}

.relatedproducts-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px 210px;
  gap: 50px;
  row-gap: 80px;
}

@media (max-width: 1366px) {
  .relatedproducts h1 {
    font-size: 40px;
  }

  .relatedproducts-item {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .relatedproducts h1 {
    font-size: 30px;
  }

  .relatedproducts-item {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .relatedproducts h1 {
    font-size: 24px;
  }

  .relatedproducts-item {
    gap: 10px;
  }

  .relatedproducts-item {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .relatedproducts-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
